$section-margin: 6rem;

.btn-primary {
    color: #fff;
}

.navbar {
    z-index: $zindex-fixed;
}

.hero {
    position: relative;
    margin-bottom: $section-margin;

    &__carousel {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background: linear-gradient(0deg, rgb(100 103 242 / 21%), transparent);
            background: linear-gradient(0deg, rgb(49 51 116 / 62%), #0000003d);
        }

        .carousel-caption {
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .carousel-content {
            z-index: $zindex-sticky;

            &__heading {
                font-size: 2rem;
                font-weight: 800;
            }

            &__text {
                font-size: 1rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 80%;

                &__heading {
                    font-size: 5rem;
                }

                &__text {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.awards {
    margin-bottom: -4rem;

    &__body {
        margin-bottom: $section-margin;
    }

    &__image {
        img {
            @extend .rounded;
        }
    }
}

.services {
    // margin-bottom: $section-margin;
    padding-top: $section-margin;
    background: #f3f6ff;

    &__header {
        margin-bottom: $section-margin;
    }
}

.service-list {
    &__item {
    }
}

.service {
    position: relative;

    &__link {
        text-decoration: none;
        color: $body-color;
    }

    &__icon {
        position: absolute;
        transform: translate(2rem, -50%);
        background: $primary;
        border-radius: $border-radius;
        padding: 1.2rem;
    }

    &__body {
        background: #fff;
        padding: 3rem 2rem 2rem 2rem;
        border-radius: $border-radius;
        margin-bottom: 4rem;
        height: calc(100% - 4rem);
    }

    &__heading {
        font-weight: 700;
        font-size: 1.2rem;
    }

    &__text {
        font-size: 0.875rem;
    }
}
